$color-btn:#224774;
body{
  background: lightgray;
}
h4{
  color: white;
}
.btn-success{
  background: $color-btn;
  border: 0.4px solid $color-btn;
  border-radius: 0px;
}
.btn-success:hover{
  background: $color-btn;
  border: 0.4px solid $color-btn;
}
.form-control{
  border-radius: 0px;
  border: none;
  font-size: 0.8rem;
}
.btn-primary{
  border-radius: 0px;
  border: 0.4px solid $color-btn;
  background: $color-btn;
  a{
    text-decoration: none;
    color: white;
  }
}
.fa-music{
  color: white;
  font-size: 2em;
}
.input-group-text{
  background: $color-btn;
  border: 0.4px solid $color-btn;
  border-radius: 0px;
  color: #fff;
}
.navbar{
  padding: 15px;
}
.form-group h2{
  text-align: center;
  color: $color-btn;
  margin-top: 20px;
}
.frm-default{
  border: 1px solid $color-btn;
  border-radius: 30px;
  margin-top: 15px;
}
h5{
  margin-top: 10px;
}
.btn-registro{
  margin-top: 15px;
  border: 1px solid $color-btn;
  border-radius: 30px;
  background: $color-btn;
  color: white;
  font-size: 1rem;
}
.btn-registro:hover{
  background: #005cbf;
}
.btn-registro span{
  padding: 25px;
  font-size: 1.2rem;
}
.img{
  margin-top: 20px;
}
footer{
//  width: 100%;
  height: 46px;
}
.foo{
  padding-top: 15px;
}
.gran-titulo{
  font-size: 3.5rem;
  text-align: center;
}
//input:invalid{
//  border: 1px solid red;
//}
.bordes{
  border: 1px dodgerblue solid;
}
.verde{
  color: #1c7430;
}